:host {
  display: block;
}

.public-layout {
  display: grid;
  align-items: center;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background: var(--background);
  color: var(--text-primary);

  &__content {
    min-height: 0;
  }
}
