<div class="theme-switcher" role="radiogroup" aria-label="Theme switcher">
  <input
    type="radio"
    [id]="getThemeId('light')"
    [name]="groupName"
    aria-label="Light theme"
    [checked]="isTheme('light')"
    (change)="setTheme('light')"
  />
  <label [for]="getThemeId('light')">
    <span class="material-symbols-rounded">light_mode</span>
  </label>

  <input
    type="radio"
    [id]="getThemeId('dark')"
    [name]="groupName"
    aria-label="Dark theme"
    [checked]="isTheme('dark')"
    (change)="setTheme('dark')"
  />
  <label [for]="getThemeId('dark')">
    <span class="material-symbols-rounded">dark_mode</span>
  </label>

  <input
    type="radio"
    [id]="getThemeId('system')"
    [name]="groupName"
    aria-label="System theme"
    [checked]="isTheme('system')"
    (change)="setTheme('system')"
  />
  <label [for]="getThemeId('system')">
    <span class="material-symbols-rounded">desktop_windows</span>
  </label>

  <span class="slider"></span>
</div>
